
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@100;300&display=swap');


*{
    margin: 0; /* margenes externos */
    padding: 0;   /* margenes internos */
    box-sizing:  border-box;   /* mantiene el tamaño del box*/
}

/* el asterisco selecciona todos los elementos y aplica los estilos en ellos */

body{
    font-family: 'lato', sans-serif;
    
}

header{
    background-color: #fff;
    font-family: 'Poppins';
    padding: 10px 50px;  /*primera medida altura, segunda medida anchura*/
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #0172B6;
    color: #fff;
}

#hero-right {
    width: calc(100% - 100px);  /*realiza un calculo para ajustar el tamaño con base a un tamaño ya existente */
    text-align: justify;
}
#hero-left {
    width: 200px;
    border-radius: 100%;
    margin-right: 30px;
    border: 5px solid white;
    
}

#hero-right h2{
    margin-bottom: 20px;
    letter-spacing: 2px;
} 

/* main{
    text-decoration: none;
} */

/* experiencia */
#experiencia {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
  }
  
  #experiencia h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
  }
  
  #experiencia ul {
    list-style-type: none;
    padding: 0;
  }
  
  #experiencia li {
    margin-bottom: 20px;
  }
  
  #experiencia h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #experiencia p {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  #experiencia ul ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  


/* habilidades */

#habilidades {
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  
  #habilidades h2 {
    margin-bottom: 30px;
    /* font-size: 36px; */
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
  }
  
  #habilidades ul {
    margin: 0;
    padding: 20px 200px;
    /* list-style: none; */
    display: inline-block;
  }
  
  #habilidades li {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
  }


  #educacion {
    padding: 20px;
    background-color: #D0D0D6;
    text-align: center;
  }
  
  #educacion h2 {
    margin-bottom: 30px;
    /* font-size: 36px; */
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    
  }
  
  #educacion ul {
    margin: 0;
    padding: 20px 200px;
    list-style: none;
    display: inline-block;
    
  }
  
  #educacion li {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }

  /* portafolio */
  #portafolio-right {
    width: calc(100% - 100px);  /*realiza un calculo para ajustar el tamaño con base a un tamaño ya existente */
    text-align: justify;
    color: #252525;
    
  }
  #portafolio-left {
      width: 800px;
      border-radius: 2%;
      margin-right: 30px;
      
      
      
  }

  #portafolio-right h2{
      margin-bottom: 20px;
      letter-spacing: 2px;
      color: #252525;
  } 



  #portafolio {
    /* display: flex; */
    justify-content: start;
    /* align-items: center;  */

    background-color: #D0D0D6;
    padding: 40px;
    text-align: center;
    color: #252525;
  }
  
  #portafolio h2 {
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  #portafolio ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: start;
    align-items: center; 
    list-style: none;
    margin: 0;
    
    /* padding: 20px 2px; */
  }
  
 #portafolio ul li {
    margin: 0 5px;
  } 
  
  #portafolio ul a {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-decoration: none;
  }
  
  #portafolio ul a img {
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 10px;
  }
  

/* redes */


/*   #redes li img{
    display: flex;
    width: 5%;
    justify-content: center;
    margin-top: 60px;
  } */


  #redes {
    /* display: flex; */
    justify-content: space-evenly;
    /* align-items: center;  */

    background-color: #fff;
    padding: 40px;
    text-align: center;
    
  }
  
  #redes h2 {
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  #redes ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    list-style: none;
    margin: 0;
    padding: 20px 2px;
  }
  
 #redes ul li {
    margin: 0 50px;
  } 
  
  #redes ul a {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-decoration: none;
  }
  
  #redes ul a img {
    display: flex;
    width: 75px;
    justify-content: center;
    margin-top: 10px;
  }
